<template scoped>
<footer>
  <ul>
    <li v-for="structure in scope.structure">
      {{ structure.label }} {{ structure.price | money }} / {{ structure.stack | stack }}
      <span class="buyin-detail"  v-if="structure.time_chip">Time Chip:  {{ structure.time_chip | stack }}</span>
      <span class="buyin-detail" v-if="structure.bounty">Bounty: {{ structure.bounty | money }}</span>
    </li>
  </ul>
</footer>
</template>

<script>
//Use helpers from vuex
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      scope: state => state.scope //Map the variables that are in the State
    }),
  }
}
</script>

<style scoped>
footer{
  height: 150px;
}

.buyin-detail {
    margin: 0 1%;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
  font-size: 2.4em;
  font-weight: bold;
  padding: 0 20px;
}
</style>
