<template scoped>
<header>
  <h1> {{ title }} </h1>
</header>
</template>

<script>

import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      title: state => state.scope.tournament.name
    })
  },
}
</script>

<style scoped>
header{
  height: 150px;
}

h1{
  font-size: 3em;
  text-transform: uppercase;
}
</style>
