<template scoped>
<aside>

  <div class="box">
    <span class="labels">Players</span>
    <span class="values">{{ scope.statistic.players_in }} / {{ scope.statistic.entries }}</span>
  </div>

  <div class="box">
    <span class="labels">Rebuys</span>
    <span class="values">{{ scope.statistic.rebuys }}</span>
  </div>

  <div class="box">
    <span class="labels">Addons</span>
    <span class="values">{{ scope.statistic.addons }}</span>
  </div>

  <div class="box">
    <span class="labels">Chip Count</span>
    <span class="values"> {{ scope.statistic.stacks }} </span>
  </div>

  <div class="box">
    <span class="labels">Avg Stack</span>
    <span class="values"> {{ scope.statistic.avg_stack }} </span>
  </div>

</aside>
</template>

<script>
//Use helpers from vuex
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      scope: state => state.scope //Map the variables that are in the State
    }),
  }
}
</script>

<style scoped>
aside{
  flex-grow: 2;
}

section {
  min-height: auto;
}
</style>
