<template scoped>
<article>

  <div class="box">
    <h1>00:00</h1>
  </div>

  <div class="box">
    <h2> {{ scope.current_blind.game_type }} {{ scope.current_blind.game }} </h2>
  </div>

  <div class="box-blind">

    <div class="blind">
        <h2>small blind</h2>
        <p> {{ scope.current_blind.small_blind }} </p>
    </div>
    <div class="blind">
      <h2>big blind</h2>
      <p> {{ scope.current_blind.big_blind }} </p>
    </div>
    <div class="blind">
        <h2>ante</h2>
        <p> {{ scope.current_blind.ante }} </p>
    </div>

  </div>

  <div class="box">
    <h3>Next Round: {{ scope.next_blind.game_type }} {{ scope.next_blind.game }}</h3>
    <h3>Next Blinds: {{ scope.next_blind.small_blind }} / {{ scope.next_blind.big_blind }}</h3>
    <h3>Next Ante: {{ scope.next_blind.ante }}</h3>
  </div>

</article>
</template>

<script>
//Use helpers from vuex
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      scope: state => state.scope //Map the variables that are in the State
    })
  }
}
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

article{
  flex-grow: 6;
  height: auto;
  /*order: -1;*/
}

h1 {
  font-size: 14em;
}

h2 {
  font-size: 3em;
  color: #fae072
}

p {
  font-size: 5em
}

h3 {
  font-size: 2.8em;
  font-style: italic;
}

.box-blind{
  display: flex;
  flex-flow: row;
  padding: 1em 0
}

.blind{
  flex-grow: 3
}

</style>
