<template scoped>
<aside>

  <div class="box">
    <span class="labels">Round</span>
    <span class="values"> {{ scope.current_blind.round }}</span>
  </div>

  <div class="box">
    <span class="labels">Current Time</span>
    <span class="values"><Clock :displaySeconds="true" /></span>
  </div>

  <div class="box">
    <span class="labels">Elapsed Time</span>
    <span class="values">00:00</span>
  </div>

  <div class="box">
    <span class="labels">Next Break</span>
    <span class="values">00:00</span>
  </div>

</aside>
</template>

<script>
//Use helpers from vuex
import { mapState } from 'vuex'
import Clock from 'vue-digital-clock'

export default {
  components: {
    Clock
  },
  computed: {
    ...mapState({
      scope: state => state.scope //Map the variables that are in the State
    })
  }
}
</script>

<style scoped>
aside{
  flex-grow: 2;
}
</style>
