<template>
  <div id="app" v-bind:class="scope.background">
      <cc-header></cc-header>
      <section>
        <cc-left></cc-left>
        <cc-main></cc-main>
        <cc-right></cc-right>
      </section>
      <cc-footer></cc-footer>
  </div>
</template>

<script>
//Import components
import CcHeader from './components/header.vue';
import CcFooter from './components/footer.vue';
import CcMain from './components/main.vue';
import CcLeft from './components/leftBar.vue';
import CcRight from './components/rightBar.vue';
//Use helpers from vuex
import { mapState, mapActions } from 'vuex'
//Connect to a websocket
let url = "ws://admin.easypoker.dev:8060";
const socket = new WebSocket(url);

export default {
  name: 'app',
  components: {
    CcHeader, CcFooter, CcMain, CcLeft, CcRight
  },
  computed: {
    ...mapState({
      scope: state => state.scope //Map the variables that are in the State
    })
  },
  mounted() {
    socket.onopen = () => {
        socket.send(JSON.stringify({
            tournament_id: this.scope.tournament.id,
            request: "connection"
        }));

        console.log("Connected at: %s", url);
        console.log("Tournament ID: %d", this.scope.tournament.id)
    };

    socket.onclose = e => {
      console.log("Disconnected!");
    };

    socket.onerror = e => {
      console.log('Something went wrong!!!', e);
    };

    socket.onmessage = message => {
      let app = JSON.parse(message.data);
      let data = app.message;

      if (typeof this[app.action] === "function") {
        let payload = data.length ? JSON.parse(data) : null;
        this[app.action](payload);
      } else {
        console.log("Method '%s' does not exist.", app.action)
      }
    }
  },
  methods: {
    ...mapActions([
      'loadTournamentData',
      'removeTournamentData'
    ]), //Map the functions at actions.js

    //The functions below are called at the socket.onmessage
    update (data) {
      if (null !== data) {
        this.loadTournamentData(data)
        console.log("Tournament %d has been updated.", this.scope.tournament.id)
      }
    },

    start (data) {
      if (null !== data) {
        let round = this.scope.current_blind.round;
        this.loadTournamentData(data, round, 'tournament')
      }
      //start clocks
      console.log("Tournament %d has been started", this.scope.tournament.id)
    },

    restart (data) {
      console.log("Tournament %d has been restarted.", this.scope.tournament.id)
    },

    pause (data) {
      console.log("Tournament %d has been paused.", this.scope.tournament.id)
    },

    backward (data) {
      console.log("Blinds Backwarded.")
    },

    forward (data) {
      console.log("Blinds Forwarded.")
    },

    finished (data) {
      console.log("Tournament %d has been finished.", this.scope.tournament.id)
    },

    statistic (data) {
      console.log("Statistic Updated.")
    }
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px #1a2226;
  text-align: center;
}

.blue {
    background: #1e5799;
    background: -moz-radial-gradient(center, ellipse cover, #1e5799 0%, #2989d8 0%, #1e5799 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%,#2989d8 0%,#1e5799 100%);
    background: radial-gradient(ellipse at center, #1e5799 0%,#2989d8 0%,#1e5799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=1 );
}

.green {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#139b0c+0,117c09+52,139b0c+100 */
    background: #139b0c; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #139b0c 0%, #117c09 52%, #139b0c 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #139b0c 0%,#117c09 52%,#139b0c 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #139b0c 0%,#117c09 52%,#139b0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#139b0c', endColorstr='#139b0c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#app{
  display: flex;
  flex-direction: column;
}

section{
  display: flex;
  min-height: calc(100vh - 300px);
}

.box {
  display: flex;
  flex-flow: column;
}

.labels{
    color: #fae072;
    font-weight: bold;
    font-size: 3em;
    white-space: nowrap;
}

.values {
    font-size: 4.5em;
    font-weight: bolder;
}

.labels, .values {
    line-height: 0.9em;
    letter-spacing: 0.02em;
    padding: 5px;
}
</style>
